
@tailwind base; @tailwind components; @tailwind utilities;
body{
  background-color: #F1F2F4;
  font-family: Arial,Roboto, sans-serif;
}
.slick-dots li button:before {
  font-size: 12px; 
  color: #99C2FF; 
}


.slick-dots li.slick-active button:before {
  color: #0066FF; 
}

.bacground-1{
  background-image: url('./become1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.bacground-2{
  background-image: url('./become2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}